<a href="https://colab.research.google.com/github/cacbondioxit/Clustering-Goalkeeper/blob/main/ML_project_trying_to_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
dfs = []
data = pd.read_excel("/content/drive/MyDrive/2022-Summer-ML-Project/football_clustering_dataset/table_advanced_goalkeeping.xlsx")
dfs.append(data)
data = pd.read_excel("/content/drive/MyDrive/2022-Summer-ML-Project/football_clustering_dataset/table_defensive_action.xlsx")
dfs.append(data)
data = pd.read_excel("/content/drive/MyDrive/2022-Summer-ML-Project/football_clustering_dataset/table_goal_and_shot_creation.xlsx")
dfs.append(data)
data = pd.read_excel("/content/drive/MyDrive/2022-Summer-ML-Project/football_clustering_dataset/table_goalkeeping.xlsx")
dfs.append(data)
data = pd.read_excel("/content/drive/MyDrive/2022-Summer-ML-Project/football_clustering_dataset/table_miscellaneous_stats.xlsx")
dfs.append(data)
data = pd.read_excel("/content/drive/MyDrive/2022-Summer-ML-Project/football_clustering_dataset/table_pass_type.xlsx")
dfs.append(data)
data = pd.read_excel("/content/drive/MyDrive/2022-Summer-ML-Project/football_clustering_dataset/table_passing.xlsx")
dfs.append(data)
data = pd.read_excel("/content/drive/MyDrive/2022-Summer-ML-Project/football_clustering_dataset/table_playing_time.xlsx")
dfs.append(data)
data = pd.read_excel("/content/drive/MyDrive/2022-Summer-ML-Project/football_clustering_dataset/table_possession.xlsx")
dfs.append(data)
data = pd.read_excel("/content/drive/MyDrive/2022-Summer-ML-Project/football_clustering_dataset/table_shooting.xlsx")
dfs.append(data)
# data = pd.read_excel("/content/drive/MyDrive/2022-Summer-ML-Project/football_clustering_dataset/table_standard_stats.xlsx")
# dfs.append(data)

In [ ]:
dfs[0] # advanced goal-keeping

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,GA,PKA,...,P assesAvgLen,Goal Kicks Att,Goal Kicks Launch%,Goal Kicks AvgLen,Crosses Opp,Crosses Stp,Crosses Stp%,Sweeper #OPA,Sweeper #OPA/90,Sweeper AvgDist
0,1.0,Alisson,br BRA,GK,Liverpool,28.0,1992.0,36.0,24.0,0.0,...,29.9,171.0,45.6,40.0,221.0,21.0,9.5,63.0,1.75,18.1
1,2.0,Alphonse Areola,fr FRA,GK,West Ham,28.0,1993.0,1.0,1.0,0.0,...,49.7,14.0,71.4,53.2,13.0,1.0,7.7,0.0,0.00,7.0
2,3.0,Kepa Arrizabalaga,es ESP,GK,Chelsea,26.0,1994.0,4.0,2.0,0.0,...,30.8,21.0,28.6,30.2,31.0,1.0,3.2,5.0,1.25,16.2
3,4.0,Daniel Bachmann,at AUT,GK,Watford,27.0,1994.0,12.0,28.0,3.0,...,47.4,87.0,71.3,52.7,108.0,3.0,2.8,8.0,0.67,13.1
4,5.0,Asmir Begović,ba BIH,GK,Everton,34.0,1987.0,3.0,8.0,1.0,...,54.2,31.0,83.9,58.1,23.0,3.0,13.0,0.0,0.00,12.9
5,6.0,Jack Butland,eng ENG,GK,Crystal Palace,28.0,1993.0,8.5,13.0,0.0,...,31.9,66.0,53.0,43.7,83.0,5.0,6.0,6.0,0.71,13.6
6,7.0,Willy Caballero,ar ARG,GK,Southampton,39.0,1981.0,2.0,5.0,0.0,...,42.1,13.0,92.3,59.1,21.0,1.0,4.8,4.0,2.00,21.7
7,8.0,Karl Darlow,eng ENG,GK,Newcastle Utd,30.0,1990.0,8.0,15.0,2.0,...,49.8,64.0,78.1,59.8,69.0,8.0,11.6,4.0,0.50,14.9
8,9.0,Martin Dúbravka,sk SVK,GK,Newcastle Utd,32.0,1989.0,26.0,35.0,1.0,...,41.1,237.0,92.8,64.8,211.0,17.0,8.1,9.0,0.35,12.7
9,10.0,Ederson,br BRA,GK,Manchester City,27.0,1993.0,37.0,26.0,1.0,...,30.0,138.0,24.6,31.6,181.0,16.0,8.8,34.0,0.92,17.2
10,11.0,Łukasz Fabiański,pl POL,GK,West Ham,36.0,1985.0,37.0,50.0,2.0,...,44.1,280.0,70.4,52.9,344.0,14.0,4.1,9.0,0.24,11.8
11,12.0,Álvaro Fernández,es ESP,GK,Brentford,23.0,1998.0,12.0,24.0,1.0,...,38.6,83.0,56.6,41.0,123.0,7.0,5.7,10.0,0.83,14.3
12,13.0,Fraser Forster,eng ENG,GK,Southampton,33.0,1988.0,19.0,35.0,2.0,...,44.8,141.0,76.6,54.3,176.0,18.0,10.2,14.0,0.74,13.8
13,14.0,Ben Foster,eng ENG,GK,Watford,38.0,1983.0,26.0,49.0,3.0,...,51.4,225.0,92.0,65.2,265.0,16.0,6.0,24.0,0.92,15.1
14,15.0,David de Gea,es ESP,GK,Manchester Utd,30.0,1990.0,38.0,57.0,3.0,...,35.2,297.0,51.2,42.4,306.0,10.0,3.3,9.0,0.24,13.6
15,16.0,Vicente Guaita,es ESP,GK,Crystal Palace,34.0,1987.0,29.5,33.0,3.0,...,33.0,199.0,45.2,37.2,216.0,16.0,7.4,17.0,0.58,14.5
16,17.0,Angus Gunn,eng ENG,GK,Norwich City,25.0,1996.0,9.0,22.0,2.0,...,40.2,85.0,47.1,40.8,94.0,7.0,7.4,7.0,0.78,14.2
17,18.0,Wayne Hennessey,wls WAL,GK,Burnley,34.0,1987.0,2.0,6.0,0.0,...,57.8,21.0,95.2,69.9,20.0,1.0,5.0,3.0,1.50,15.9
18,19.0,Caoimhín Kelleher,ie IRL,GK,Liverpool,22.0,1998.0,2.0,2.0,0.0,...,26.3,13.0,15.4,26.3,11.0,0.0,0.0,3.0,1.50,16.4
19,20.0,Kristoffer Klaesson,no NOR,GK,Leeds United,20.0,2000.0,0.4,0.0,0.0,...,34.4,3.0,33.3,31.0,4.0,1.0,25.0,0.0,0.00,25.0
20,21.0,Tim Krul,nl NED,GK,Norwich City,33.0,1988.0,29.0,62.0,7.0,...,39.4,224.0,54.5,45.4,256.0,10.0,3.9,10.0,0.34,12.5
21,22.0,Bernd Leno,de GER,GK,Arsenal,29.0,1992.0,4.0,9.0,0.0,...,37.1,37.0,67.6,49.8,48.0,2.0,4.2,1.0,0.25,12.9
22,23.0,Hugo Lloris,fr FRA,GK,Tottenham,34.0,1986.0,38.0,40.0,2.0,...,34.4,276.0,37.0,32.8,352.0,21.0,6.0,23.0,0.61,14.2
23,24.0,Jonas Lössl,dk DEN,GK,Brentford,32.0,1989.0,2.0,5.0,0.0,...,38.9,13.0,30.8,34.2,14.0,0.0,0.0,4.0,2.00,19.8
24,25.0,Emiliano Martínez,ar ARG,GK,Aston Villa,28.0,1992.0,36.0,48.0,4.0,...,38.7,274.0,46.4,40.0,282.0,17.0,6.0,25.0,0.69,14.0
25,26.0,Alex McCarthy,eng ENG,GK,Southampton,31.0,1989.0,17.0,27.0,0.0,...,39.9,127.0,70.9,53.6,152.0,17.0,11.2,3.0,0.18,12.1
26,27.0,Edouard Mendy,sn SEN,GK,Chelsea,29.0,1992.0,34.0,31.0,6.0,...,28.7,176.0,33.5,30.3,243.0,19.0,7.8,19.0,0.56,13.8
27,28.0,Illan Meslier,fr FRA,GK,Leeds United,21.0,2000.0,37.6,79.0,5.0,...,32.9,287.0,43.9,38.9,245.0,21.0,8.6,37.0,0.98,14.7
28,29.0,Robin Olsen,se SWE,GK,Aston Villa,31.0,1990.0,1.0,3.0,0.0,...,45.9,20.0,70.0,54.0,12.0,1.0,8.3,0.0,0.00,9.7
29,30.0,Jordan Pickford,eng ENG,GK,Everton,27.0,1994.0,35.0,58.0,1.0,...,53.0,264.0,82.2,64.9,310.0,22.0,7.1,26.0,0.74,15.2
30,31.0,Nick Pope,eng ENG,GK,Burnley,29.0,1992.0,36.0,47.0,5.0,...,52.8,285.0,93.0,65.9,375.0,36.0,9.6,63.0,1.75,18.2
31,32.0,Aaron Ramsdale,eng ENG,GK,Arsenal,23.0,1998.0,34.0,39.0,5.0,...,37.0,192.0,72.4,57.2,260.0,21.0,8.1,35.0,1.03,16.0
32,33.0,David Raya,es ESP,GK,Brentford,25.0,1995.0,24.0,27.0,4.0,...,41.5,200.0,72.5,53.7,230.0,15.0,6.5,26.0,1.08,15.0
33,34.0,John Ruddy,eng ENG,GK,Wolves,34.0,1986.0,1.5,3.0,0.0,...,46.0,14.0,28.6,39.4,4.0,0.0,0.0,1.0,0.67,21.4
34,35.0,José Sá,pt POR,GK,Wolves,28.0,1993.0,36.5,40.0,9.0,...,39.3,259.0,51.0,42.7,315.0,34.0,10.8,40.0,1.10,15.3
35,36.0,Robert Sánchez,es ESP,GK,Brighton,23.0,1997.0,37.0,42.0,3.0,...,37.6,231.0,68.8,54.1,317.0,37.0,11.7,30.0,0.81,13.9
36,37.0,Kasper Schmeichel,dk DEN,GK,Leicester City,34.0,1986.0,37.0,58.0,7.0,...,38.9,291.0,50.9,43.7,278.0,19.0,6.8,16.0,0.43,12.5
37,38.0,Jason Steele,eng ENG,GK,Brighton,30.0,1990.0,1.0,2.0,0.0,...,26.2,6.0,50.0,43.8,11.0,1.0,9.1,0.0,0.00,13.0
38,39.0,Jed Steer,eng ENG,GK,Aston Villa,28.0,1992.0,1.0,3.0,0.0,...,34.4,6.0,66.7,53.8,8.0,1.0,12.5,1.0,1.00,14.3
39,40.0,Zack Steffen,us USA,GK,Manchester City,26.0,1995.0,1.0,0.0,0.0,...,26.0,7.0,28.6,25.3,7.0,0.0,0.0,2.0,2.00,17.5
40,41.0,Danny Ward,wls WAL,GK,Leicester City,28.0,1993.0,1.0,1.0,0.0,...,30.2,7.0,14.3,27.0,11.0,3.0,27.3,0.0,0.00,14.7
41,42.0,Freddie Woodman,eng ENG,GK,Newcastle Utd,24.0,1997.0,4.0,12.0,2.0,...,43.3,43.0,65.1,52.0,33.0,2.0,6.1,0.0,0.00,11.6

In [ ]:
dfs[0].columns

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'GA',
       'PKA', 'FK', 'CK', 'OG', 'PSxG', 'PSxG/SoT', 'PSxG+/-', '/90',
       'Launched Cmp', 'Launched Att', 'Launched Cmp%', 'Passes Att',
       'Passes Thr', 'Passes Launch%', 'P assesAvgLen', 'Goal Kicks Att',
       'Goal Kicks Launch%', 'Goal Kicks AvgLen', 'Crosses Opp', 'Crosses Stp',
       'Crosses Stp%', 'Sweeper #OPA', 'Sweeper #OPA/90', 'Sweeper AvgDist'],
      dtype='object')

In [ ]:
dfs[1]

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Tackles Tkl,Tackles TklW,...,Pressures Mid 3rd,Pressures Att 3rd,Blocks Blocks,Blocks Sh,Blocks ShSv,Blocks Pass,Int,Tkl+Int,Clr,Err
0,1.0,Max Aarons,eng ENG,DF,Norwich City,21.0,2000.0,32.0,69.0,37.0,...,140.0,39.0,86.0,22.0,1.0,64.0,56.0,125.0,70.0,0.0
1,2.0,Che Adams,sct SCO,FW,Southampton,25.0,1996.0,22.7,16.0,9.0,...,132.0,162.0,25.0,4.0,0.0,21.0,10.0,26.0,15.0,0.0
2,3.0,Rayan Aït Nouri,fr FRA,DF,Wolves,20.0,2001.0,20.3,76.0,43.0,...,116.0,55.0,34.0,3.0,0.0,31.0,38.0,114.0,32.0,1.0
3,4.0,Kristoffer Ajer,no NOR,DF,Brentford,23.0,1998.0,22.2,40.0,22.0,...,70.0,29.0,36.0,13.0,1.0,23.0,49.0,89.0,81.0,1.0
4,5.0,Nathan Aké,nl NED,DF,Manchester City,26.0,1995.0,10.3,15.0,5.0,...,37.0,7.0,12.0,5.0,0.0,7.0,18.0,33.0,31.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,542.0,Christoph Zimmermann,de GER,DF,Norwich City,28.0,1993.0,1.7,5.0,3.0,...,8.0,3.0,0.0,0.0,0.0,0.0,3.0,8.0,3.0,0.0
542,543.0,Oleksandr Zinchenko,ua UKR,DF,Manchester City,24.0,1996.0,11.6,20.0,11.0,...,47.0,22.0,18.0,3.0,0.0,15.0,18.0,38.0,13.0,1.0
543,544.0,Hakim Ziyech,ma MAR,FWMF,Chelsea,28.0,1993.0,14.7,20.0,11.0,...,118.0,95.0,18.0,1.0,0.0,17.0,20.0,40.0,9.0,0.0
544,545.0,Kurt Zouma,fr FRA,DF,West Ham,26.0,1994.0,23.1,11.0,5.0,...,36.0,13.0,38.0,27.0,0.0,11.0,47.0,58.0,140.0,0.0
545,546.0,Martin Ødegaard,no NOR,MF,Arsenal,22.0,1998.0,30.9,43.0,25.0,...,262.0,205.0,18.0,1.0,0.0,17.0,22.0,65.0,12.0,1.0

In [ ]:
dfs[2]

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,SCA,SCA90,...,SCA Fld,SCA Def,GCA,GCA90,GCA PassLive,GCA PassDead,GCA Drib,GCA Sh,GCA Fld,GCA Def
0,1.0,Max Aarons,eng ENG,DF,Norwich City,21.0,2000.0,32.0,38.0,1.19,...,2.0,0.0,5.0,0.16,5.0,0.0,0.0,0.0,0.0,0.0
1,2.0,Che Adams,sct SCO,FW,Southampton,25.0,1996.0,22.7,51.0,2.25,...,11.0,1.0,4.0,0.18,3.0,0.0,0.0,0.0,0.0,1.0
2,3.0,Rayan Aït Nouri,fr FRA,DF,Wolves,20.0,2001.0,20.3,44.0,2.17,...,2.0,2.0,6.0,0.30,4.0,1.0,0.0,0.0,1.0,0.0
3,4.0,Kristoffer Ajer,no NOR,DF,Brentford,23.0,1998.0,22.2,28.0,1.26,...,1.0,1.0,6.0,0.27,3.0,1.0,1.0,0.0,1.0,0.0
4,5.0,Nathan Aké,nl NED,DF,Manchester City,26.0,1995.0,10.3,3.0,0.29,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,542.0,Christoph Zimmermann,de GER,DF,Norwich City,28.0,1993.0,1.7,0.0,0.00,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0
542,543.0,Oleksandr Zinchenko,ua UKR,DF,Manchester City,24.0,1996.0,11.6,42.0,3.61,...,1.0,1.0,10.0,0.86,7.0,0.0,1.0,1.0,0.0,1.0
543,544.0,Hakim Ziyech,ma MAR,FWMF,Chelsea,28.0,1993.0,14.7,64.0,4.37,...,3.0,1.0,7.0,0.48,6.0,0.0,1.0,0.0,0.0,0.0
544,545.0,Kurt Zouma,fr FRA,DF,West Ham,26.0,1994.0,23.1,6.0,0.26,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0
545,546.0,Martin Ødegaard,no NOR,MF,Arsenal,22.0,1998.0,30.9,134.0,4.33,...,2.0,1.0,12.0,0.39,12.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
dfs[3].columns

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP', 'Starts',
       'Min', '90s', 'GA', 'GA90', 'SoTA', 'Saves', 'Save%', 'W', 'D', 'L',
       'CS', 'CS%', 'PKatt', 'PKA', 'PKsv', 'PKm', 'Save%.1'],
      dtype='object')

In [ ]:
for df in dfs:
    print(len(df))
    df = df.dropna()

42
546
546
42
546
546
546
691
546
546

In [ ]:
for df in dfs:
   print(len(df))

42
546
546
42
546
546
546
691
546
546

In [ ]:
a = set(dfs[0]['Player'])
b = set(dfs[1]['Player'])

len(a-b)

0

In [ ]:

len(b-a), len(b)-len(a)

(495, 495)

In [ ]:
# 따라서 A와 B는 포함 관계이다. A⊂B

In [ ]:
a = dfs[1].copy()

a = a.merge(dfs[2], how='left', on='Player')
a = a.merge(dfs[4], how='left', on='Player')
a = a.merge(dfs[5], how='left', on='Player')
a = a.merge(dfs[6], how='left', on='Player')
a = a.merge(dfs[8], how='left', on='Player')
a = a.merge(dfs[9], how='left', on='Player')

a

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:9203: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Pos_x', '90s_x', 'Squad_x', 'Nation_x', 'Age_x', 'Rk_x', 'Born_x'} in the result is deprecated and will raise a MergeError in a future version.
  validate=validate,

,Rk_x,Player,Nation_x,Pos_x,Squad_x,Age_x,Born_x,90s_x,Tackles Tkl,Tackles TklW,...,G/SoT,Dist,FK_y,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG
0,1.0,Max Aarons,eng ENG,DF,Norwich City,21.0,2000.0,32.0,69.0,37.0,...,0.00,20.5,0.0,0.0,0.0,0.7,0.7,0.05,-0.7,-0.7
1,2.0,Che Adams,sct SCO,FW,Southampton,25.0,1996.0,22.7,16.0,9.0,...,0.29,12.9,0.0,0.0,0.0,7.1,7.1,0.14,-0.1,-0.1
2,3.0,Rayan Aït Nouri,fr FRA,DF,Wolves,20.0,2001.0,20.3,76.0,43.0,...,0.25,16.9,0.0,0.0,0.0,0.7,0.7,0.06,0.3,0.3
3,4.0,Kristoffer Ajer,no NOR,DF,Brentford,23.0,1998.0,22.2,40.0,22.0,...,1.00,9.1,0.0,0.0,0.0,0.8,0.8,0.11,0.2,0.2
4,5.0,Nathan Aké,nl NED,DF,Manchester City,26.0,1995.0,10.3,15.0,5.0,...,1.00,5.8,0.0,0.0,0.0,1.1,1.1,0.23,0.9,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675,542.0,Christoph Zimmermann,de GER,DF,Norwich City,28.0,1993.0,1.7,5.0,3.0,...,0.00,18.0,0.0,0.0,0.0,0.1,0.1,0.03,-0.1,-0.1
1676,543.0,Oleksandr Zinchenko,ua UKR,DF,Manchester City,24.0,1996.0,11.6,20.0,11.0,...,0.00,21.7,0.0,0.0,0.0,0.4,0.4,0.04,-0.4,-0.4
1677,544.0,Hakim Ziyech,ma MAR,FWMF,Chelsea,28.0,1993.0,14.7,20.0,11.0,...,0.21,20.7,3.0,0.0,0.0,3.4,3.4,0.06,0.6,0.6
1678,545.0,Kurt Zouma,fr FRA,DF,West Ham,26.0,1994.0,23.1,11.0,5.0,...,0.50,6.2,0.0,0.0,0.0,0.9,0.9,0.13,0.1,0.1
1679,546.0,Martin Ødegaard,no NOR,MF,Arsenal,22.0,1998.0,30.9,43.0,25.0,...,0.33,20.1,12.0,0.0,0.0,4.8,4.8,0.09,2.2,2.2

In [ ]:
a = dfs[7].copy() # len = 691

a = a.merge(dfs[1], how='left', on='Player') # len = 546
a = a.merge(dfs[2], how='left', on='Player') # len = 546
a = a.merge(dfs[4], how='left', on='Player') # len = 546
a = a.merge(dfs[5], how='left', on='Player') # len = 546
a = a.merge(dfs[6], how='left', on='Player') # len = 546
a = a.merge(dfs[8], how='left', on='Player') # len = 546
a = a.merge(dfs[9], how='left', on='Player') # len = 546
a = a.merge(dfs[0], how='left', on='Player') # len = 24
a = a.merge(dfs[3], how='left', on='Player') # len = 24

a # len이 큰 순서부터 작은 순서대로 left join

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:9203: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Pos_x', '90s_x', 'Squad_x', 'Nation_x', 'Age_x', 'Rk_x', 'Born_x'} in the result is deprecated and will raise a MergeError in a future version.
  validate=validate,

,Rk_x,Player,Nation_x,Pos_x,Squad_x,Age_x,Born_x,MP_x,Min_x,Mn/MP,...,W,D,L,CS,CS%,PKatt_y,PKA_y,PKsv,PKm,Save%.1
0,1.0,Max Aarons,eng ENG,DF,Norwich City,21.0,2000.0,34.0,2881.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Tammy Abraham,eng ENG,FW,Chelsea,23.0,1997.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Che Adams,sct SCO,FW,Southampton,25.0,1996.0,30.0,2039.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Omotayo Adaramola,ie IRL,DF,Crystal Palace,17.0,2003.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Adrián,es ESP,GK,Liverpool,34.0,1987.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2972,687.0,Oleksandr Zinchenko,ua UKR,DF,Manchester City,24.0,1996.0,15.0,1047.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2973,688.0,Hakim Ziyech,ma MAR,FWMF,Chelsea,28.0,1993.0,23.0,1319.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2974,689.0,Kurt Zouma,fr FRA,DF,West Ham,26.0,1994.0,24.0,2078.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975,690.0,Kurt Zouma,fr FRA,DF,Chelsea,26.0,1994.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2976,691.0,Martin Ødegaard,no NOR,MF,Arsenal,22.0,1998.0,36.0,2785.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
a = dfs[7].copy() # len = 691

a = a.merge(dfs[1], how='outer', on='Player') # len = 546
a = a.merge(dfs[2], how='outer', on='Player') # len = 546
a = a.merge(dfs[4], how='outer', on='Player') # len = 546
a = a.merge(dfs[5], how='outer', on='Player') # len = 546
a = a.merge(dfs[6], how='outer', on='Player') # len = 546
a = a.merge(dfs[8], how='outer', on='Player') # len = 546
a = a.merge(dfs[9], how='outer', on='Player') # len = 546
a = a.merge(dfs[0], how='outer', on='Player') # len = 24
a = a.merge(dfs[3], how='outer', on='Player') # len = 24

a

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:9203: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Pos_x', '90s_x', 'Squad_x', 'Nation_x', 'Age_x', 'Rk_x', 'Born_x'} in the result is deprecated and will raise a MergeError in a future version.
  validate=validate,

,Rk_x,Player,Nation_x,Pos_x,Squad_x,Age_x,Born_x,MP_x,Min_x,Mn/MP,...,W,D,L,CS,CS%,PKatt_y,PKA_y,PKsv,PKm,Save%.1
0,1.0,Max Aarons,eng ENG,DF,Norwich City,21.0,2000.0,34.0,2881.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Tammy Abraham,eng ENG,FW,Chelsea,23.0,1997.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Che Adams,sct SCO,FW,Southampton,25.0,1996.0,30.0,2039.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Omotayo Adaramola,ie IRL,DF,Crystal Palace,17.0,2003.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Adrián,es ESP,GK,Liverpool,34.0,1987.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2972,687.0,Oleksandr Zinchenko,ua UKR,DF,Manchester City,24.0,1996.0,15.0,1047.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2973,688.0,Hakim Ziyech,ma MAR,FWMF,Chelsea,28.0,1993.0,23.0,1319.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2974,689.0,Kurt Zouma,fr FRA,DF,West Ham,26.0,1994.0,24.0,2078.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975,690.0,Kurt Zouma,fr FRA,DF,Chelsea,26.0,1994.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2976,691.0,Martin Ødegaard,no NOR,MF,Arsenal,22.0,1998.0,36.0,2785.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
a = dfs[1]

a.merge(dfs[2], how='inner', on='Player')

,Rk_x,Player,Nation_x,Pos_x,Squad_x,Age_x,Born_x,90s_x,Tackles Tkl,Tackles TklW,...,SCA Fld,SCA Def,GCA,GCA90,GCA PassLive,GCA PassDead,GCA Drib,GCA Sh,GCA Fld,GCA Def
0,1.0,Max Aarons,eng ENG,DF,Norwich City,21.0,2000.0,32.0,69.0,37.0,...,2.0,0.0,5.0,0.16,5.0,0.0,0.0,0.0,0.0,0.0
1,2.0,Che Adams,sct SCO,FW,Southampton,25.0,1996.0,22.7,16.0,9.0,...,11.0,1.0,4.0,0.18,3.0,0.0,0.0,0.0,0.0,1.0
2,3.0,Rayan Aït Nouri,fr FRA,DF,Wolves,20.0,2001.0,20.3,76.0,43.0,...,2.0,2.0,6.0,0.30,4.0,1.0,0.0,0.0,1.0,0.0
3,4.0,Kristoffer Ajer,no NOR,DF,Brentford,23.0,1998.0,22.2,40.0,22.0,...,1.0,1.0,6.0,0.27,3.0,1.0,1.0,0.0,1.0,0.0
4,5.0,Nathan Aké,nl NED,DF,Manchester City,26.0,1995.0,10.3,15.0,5.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
559,542.0,Christoph Zimmermann,de GER,DF,Norwich City,28.0,1993.0,1.7,5.0,3.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0
560,543.0,Oleksandr Zinchenko,ua UKR,DF,Manchester City,24.0,1996.0,11.6,20.0,11.0,...,1.0,1.0,10.0,0.86,7.0,0.0,1.0,1.0,0.0,1.0
561,544.0,Hakim Ziyech,ma MAR,FWMF,Chelsea,28.0,1993.0,14.7,20.0,11.0,...,3.0,1.0,7.0,0.48,6.0,0.0,1.0,0.0,0.0,0.0
562,545.0,Kurt Zouma,fr FRA,DF,West Ham,26.0,1994.0,23.1,11.0,5.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0
563,546.0,Martin Ødegaard,no NOR,MF,Arsenal,22.0,1998.0,30.9,43.0,25.0,...,2.0,1.0,12.0,0.39,12.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
aa = dfs[0]

aa.merge(dfs[1], how='outer', on='Player')

,Rk_x,Player,Nation_x,Pos_x,Squad_x,Age_x,Born_x,90s_x,GA,PKA,...,Pressures Mid 3rd,Pressures Att 3rd,Blocks Blocks,Blocks Sh,Blocks ShSv,Blocks Pass,Int,Tkl+Int,Clr,Err
0,1.0,Alisson,br BRA,GK,Liverpool,28.0,1992.0,36.0,24.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0
1,2.0,Alphonse Areola,fr FRA,GK,West Ham,28.0,1993.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,Kepa Arrizabalaga,es ESP,GK,Chelsea,26.0,1994.0,4.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,Daniel Bachmann,at AUT,GK,Watford,27.0,1994.0,12.0,28.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.0,Asmir Begović,ba BIH,GK,Everton,34.0,1987.0,3.0,8.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,NaN,Christoph Zimmermann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,3.0,0.0,0.0,0.0,0.0,3.0,8.0,3.0,0.0
542,NaN,Oleksandr Zinchenko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47.0,22.0,18.0,3.0,0.0,15.0,18.0,38.0,13.0,1.0
543,NaN,Hakim Ziyech,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,118.0,95.0,18.0,1.0,0.0,17.0,20.0,40.0,9.0,0.0
544,NaN,Kurt Zouma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.0,13.0,38.0,27.0,0.0,11.0,47.0,58.0,140.0,0.0
545,NaN,Martin Ødegaard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,262.0,205.0,18.0,1.0,0.0,17.0,22.0,65.0,12.0,1.0

ValueError: ignored

In [ ]:
aa = dfs[1]

aa.merge(dfs[0], how='outer', on='Player')

,Rk_x,Player,Nation_x,Pos_x,Squad_x,Age_x,Born_x,90s_x,Tackles Tkl,Tackles TklW,...,P assesAvgLen,Goal Kicks Att,Goal Kicks Launch%,Goal Kicks AvgLen,Crosses Opp,Crosses Stp,Crosses Stp%,Sweeper #OPA,Sweeper #OPA/90,Sweeper AvgDist
0,1.0,Max Aarons,eng ENG,DF,Norwich City,21.0,2000.0,32.0,69.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Che Adams,sct SCO,FW,Southampton,25.0,1996.0,22.7,16.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Rayan Aït Nouri,fr FRA,DF,Wolves,20.0,2001.0,20.3,76.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Kristoffer Ajer,no NOR,DF,Brentford,23.0,1998.0,22.2,40.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Nathan Aké,nl NED,DF,Manchester City,26.0,1995.0,10.3,15.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,542.0,Christoph Zimmermann,de GER,DF,Norwich City,28.0,1993.0,1.7,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
542,543.0,Oleksandr Zinchenko,ua UKR,DF,Manchester City,24.0,1996.0,11.6,20.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,544.0,Hakim Ziyech,ma MAR,FWMF,Chelsea,28.0,1993.0,14.7,20.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,545.0,Kurt Zouma,fr FRA,DF,West Ham,26.0,1994.0,23.1,11.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,546.0,Martin Ødegaard,no NOR,MF,Arsenal,22.0,1998.0,30.9,43.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
set(dfs[1]['Pos'])

{'DF', 'DFFW', 'DFMF', 'FW', 'FWDF', 'FWMF', 'GK', 'MF', 'MFDF', 'MFFW'}

In [ ]:
fw = []

for df in dfs:
    new_df = df[df['Pos'].str.contains('FW')]
    fw.append(new_df)

In [ ]:
for df in fw:
    df = df.dropna()
    print(len(df))

0
167
187
0
175
187
163
150
170
149

In [ ]:
FW = pd.concat(fw, join='outer')

In [ ]:
FW.to_csv("/content/drive/MyDrive/2022-Summer-ML-Project/FW.csv")

In [ ]:
dfs[1].dtypes

Rk                   float64
Player                object
Nation                object
Pos                   object
Squad                 object
Age                  float64
Born                 float64
90s                  float64
Tackles Tkl          float64
Tackles TklW         float64
Tackles Def 3rd      float64
Tackles Mid 3rd      float64
Tackles Att 3rd      float64
Vs Dribbles Tkl      float64
Vs Dribbles Att      float64
Vs Dribbles Tkl%     float64
Vs Dribbles Past     float64
Pressures Press      float64
Pressures Succ       float64
Pressures %          float64
Pressures Def 3rd    float64
Pressures Mid 3rd    float64
Pressures Att 3rd    float64
Blocks Blocks        float64
Blocks Sh            float64
Blocks ShSv          float64
Blocks Pass          float64
Int                  float64
Tkl+Int              float64
Clr                  float64
Err                  float64
dtype: object

In [ ]:
DFs = dfs[0].copy()

for i in range(1,10):
    DFs = DFs.join(dfs[i], on='Player', how='outer')

ValueError: ignored

In [ ]:
dfs[0].dtypes

Rk                    float64
Player                 object
Nation                 object
Pos                    object
Squad                  object
Age                   float64
Born                  float64
90s                   float64
GA                    float64
PKA                   float64
FK                    float64
CK                    float64
OG                    float64
PSxG                  float64
PSxG/SoT              float64
PSxG+/-               float64
/90                   float64
Launched Cmp          float64
Launched Att          float64
Launched Cmp%         float64
Passes Att            float64
Passes Thr            float64
Passes Launch%        float64
P assesAvgLen         float64
Goal Kicks Att        float64
Goal Kicks Launch%    float64
Goal Kicks AvgLen     float64
Crosses Opp           float64
Crosses Stp           float64
Crosses Stp%          float64
Sweeper #OPA          float64
Sweeper #OPA/90       float64
Sweeper AvgDist       float64
dtype: object

In [ ]:
pd.concat(dfs, join='outer')

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,GA,PKA,...,SoT/90,G/Sh,G/SoT,Dist,PK,xG,npxG,npxG/Sh,G-xG,np:G-xG
0,1.0,Alisson,br BRA,GK,Liverpool,28.0,1992.0,36.0,24.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Alphonse Areola,fr FRA,GK,West Ham,28.0,1993.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Kepa Arrizabalaga,es ESP,GK,Chelsea,26.0,1994.0,4.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Daniel Bachmann,at AUT,GK,Watford,27.0,1994.0,12.0,28.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Asmir Begović,ba BIH,GK,Everton,34.0,1987.0,3.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,542.0,Christoph Zimmermann,de GER,DF,Norwich City,28.0,1993.0,1.7,NaN,NaN,...,0.57,0.00,0.00,18.0,0.0,0.1,0.1,0.03,-0.1,-0.1
542,543.0,Oleksandr Zinchenko,ua UKR,DF,Manchester City,24.0,1996.0,11.6,NaN,NaN,...,0.34,0.00,0.00,21.7,0.0,0.4,0.4,0.04,-0.4,-0.4
543,544.0,Hakim Ziyech,ma MAR,FWMF,Chelsea,28.0,1993.0,14.7,NaN,NaN,...,1.30,0.08,0.21,20.7,0.0,3.4,3.4,0.06,0.6,0.6
544,545.0,Kurt Zouma,fr FRA,DF,West Ham,26.0,1994.0,23.1,NaN,NaN,...,0.09,0.14,0.50,6.2,0.0,0.9,0.9,0.13,0.1,0.1
545,546.0,Martin Ødegaard,no NOR,MF,Arsenal,22.0,1998.0,30.9,NaN,NaN,...,0.68,0.13,0.33,20.1,0.0,4.8,4.8,0.09,2.2,2.2

In [ ]:
# 선수들의 데이터가 잘 합쳐지지 않아 골키퍼들의 데이터로만 클러스터링하기로 결정

In [ ]:
dfs[0].merge(dfs[3], on='Player', how='inner')

,Rk_x,Player,Nation_x,Pos_x,Squad_x,Age_x,Born_x,90s_x,GA_x,PKA_x,...,W,D,L,CS,CS%,PKatt,PKA_y,PKsv,PKm,Save%.1
0,1.0,Alisson,br BRA,GK,Liverpool,28.0,1992.0,36.0,24.0,0.0,...,27.0,7.0,2.0,20.0,55.6,0.0,0.0,0.0,0.0,NaN
1,2.0,Alphonse Areola,fr FRA,GK,West Ham,28.0,1993.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,3.0,Kepa Arrizabalaga,es ESP,GK,Chelsea,26.0,1994.0,4.0,2.0,0.0,...,2.0,1.0,1.0,2.0,50.0,0.0,0.0,0.0,0.0,NaN
3,4.0,Daniel Bachmann,at AUT,GK,Watford,27.0,1994.0,12.0,28.0,3.0,...,1.0,0.0,11.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0
4,5.0,Asmir Begović,ba BIH,GK,Everton,34.0,1987.0,3.0,8.0,1.0,...,1.0,0.0,2.0,1.0,33.3,1.0,1.0,0.0,0.0,0.0
5,6.0,Jack Butland,eng ENG,GK,Crystal Palace,28.0,1993.0,8.5,13.0,0.0,...,2.0,4.0,2.0,1.0,12.5,1.0,0.0,1.0,0.0,100.0
6,7.0,Willy Caballero,ar ARG,GK,Southampton,39.0,1981.0,2.0,5.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
7,8.0,Karl Darlow,eng ENG,GK,Newcastle Utd,30.0,1990.0,8.0,15.0,2.0,...,0.0,5.0,3.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0
8,9.0,Martin Dúbravka,sk SVK,GK,Newcastle Utd,32.0,1989.0,26.0,35.0,1.0,...,13.0,4.0,9.0,8.0,30.8,1.0,1.0,0.0,0.0,0.0
9,10.0,Ederson,br BRA,GK,Manchester City,27.0,1993.0,37.0,26.0,1.0,...,28.0,6.0,3.0,20.0,54.1,1.0,1.0,0.0,0.0,0.0
10,11.0,Łukasz Fabiański,pl POL,GK,West Ham,36.0,1985.0,37.0,50.0,2.0,...,16.0,8.0,13.0,8.0,21.6,6.0,2.0,3.0,1.0,60.0
11,12.0,Álvaro Fernández,es ESP,GK,Brentford,23.0,1998.0,12.0,24.0,1.0,...,3.0,2.0,7.0,1.0,8.3,1.0,1.0,0.0,0.0,0.0
12,13.0,Fraser Forster,eng ENG,GK,Southampton,33.0,1988.0,19.0,35.0,2.0,...,6.0,5.0,8.0,3.0,15.8,2.0,2.0,0.0,0.0,0.0
13,14.0,Ben Foster,eng ENG,GK,Watford,38.0,1983.0,26.0,49.0,3.0,...,5.0,5.0,16.0,4.0,15.4,4.0,3.0,1.0,0.0,25.0
14,15.0,David de Gea,es ESP,GK,Manchester Utd,30.0,1990.0,38.0,57.0,3.0,...,16.0,10.0,12.0,8.0,21.1,6.0,3.0,3.0,0.0,50.0
15,16.0,Vicente Guaita,es ESP,GK,Crystal Palace,34.0,1987.0,29.5,33.0,3.0,...,9.0,11.0,10.0,11.0,36.7,3.0,3.0,0.0,0.0,0.0
16,17.0,Angus Gunn,eng ENG,GK,Norwich City,25.0,1996.0,9.0,22.0,2.0,...,1.0,2.0,6.0,1.0,11.1,4.0,2.0,1.0,1.0,33.3
17,18.0,Wayne Hennessey,wls WAL,GK,Burnley,34.0,1987.0,2.0,6.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
18,19.0,Caoimhín Kelleher,ie IRL,GK,Liverpool,22.0,1998.0,2.0,2.0,0.0,...,1.0,1.0,0.0,1.0,50.0,0.0,0.0,0.0,0.0,NaN
19,20.0,Kristoffer Klaesson,no NOR,GK,Leeds United,20.0,2000.0,0.4,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN
20,21.0,Tim Krul,nl NED,GK,Norwich City,33.0,1988.0,29.0,62.0,7.0,...,4.0,5.0,20.0,5.0,17.2,9.0,7.0,1.0,1.0,12.5
21,22.0,Bernd Leno,de GER,GK,Arsenal,29.0,1992.0,4.0,9.0,0.0,...,1.0,0.0,3.0,1.0,25.0,0.0,0.0,0.0,0.0,NaN
22,23.0,Hugo Lloris,fr FRA,GK,Tottenham,34.0,1986.0,38.0,40.0,2.0,...,22.0,5.0,11.0,16.0,42.1,2.0,2.0,0.0,0.0,0.0
23,24.0,Jonas Lössl,dk DEN,GK,Brentford,32.0,1989.0,2.0,5.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
24,25.0,Emiliano Martínez,ar ARG,GK,Aston Villa,28.0,1992.0,36.0,48.0,4.0,...,13.0,6.0,17.0,11.0,30.6,6.0,4.0,1.0,1.0,20.0
25,26.0,Alex McCarthy,eng ENG,GK,Southampton,31.0,1989.0,17.0,27.0,0.0,...,3.0,7.0,7.0,5.0,29.4,0.0,0.0,0.0,0.0,NaN
26,27.0,Edouard Mendy,sn SEN,GK,Chelsea,29.0,1992.0,34.0,31.0,6.0,...,19.0,10.0,5.0,14.0,41.2,6.0,6.0,0.0,0.0,0.0
27,28.0,Illan Meslier,fr FRA,GK,Leeds United,21.0,2000.0,37.6,79.0,5.0,...,9.0,11.0,18.0,5.0,13.2,5.0,5.0,0.0,0.0,0.0
28,29.0,Robin Olsen,se SWE,GK,Aston Villa,31.0,1990.0,1.0,3.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
29,30.0,Jordan Pickford,eng ENG,GK,Everton,27.0,1994.0,35.0,58.0,1.0,...,10.0,6.0,19.0,7.0,20.0,1.0,1.0,0.0,0.0,0.0
30,31.0,Nick Pope,eng ENG,GK,Burnley,29.0,1992.0,36.0,47.0,5.0,...,7.0,14.0,15.0,9.0,25.0,5.0,5.0,0.0,0.0,0.0
31,32.0,Aaron Ramsdale,eng ENG,GK,Arsenal,23.0,1998.0,34.0,39.0,5.0,...,21.0,3.0,10.0,12.0,35.3,6.0,5.0,0.0,1.0,0.0
32,33.0,David Raya,es ESP,GK,Brentford,25.0,1995.0,24.0,27.0,4.0,...,10.0,5.0,9.0,8.0,33.3,4.0,4.0,0.0,0.0,0.0
33,34.0,John Ruddy,eng ENG,GK,Wolves,34.0,1986.0,1.5,3.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
34,35.0,José Sá,pt POR,GK,Wolves,28.0,1993.0,36.5,40.0,9.0,...,15.0,5.0,17.0,11.0,29.7,10.0,9.0,0.0,1.0,0.0
35,36.0,Robert Sánchez,es ESP,GK,Brighton,23.0,1997.0,37.0,42.0,3.0,...,12.0,15.0,10.0,11.0,29.7,4.0,3.0,0.0,1.0,0.0
36,37.0,Kasper Schmeichel,dk DEN,GK,Leicester City,34.0,1986.0,37.0,58.0,7.0,...,13.0,10.0,14.0,7.0,18.9,10.0,7.0,2.0,1.0,22.2
37,38.0,Jason Steele,eng ENG,GK,Brighton,30.0,1990.0,1.0,2.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
38,39.0,Jed Steer,eng ENG,GK,Aston Villa,28.0,1992.0,1.0,3.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
39,40.0,Zack Steffen,us USA,GK,Manchester City,26.0,1995.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,0.0,NaN
40,41.0,Danny Ward,wls WAL,GK,Leicester City,28.0,1993.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
41,42.0,Freddie Woodman,eng ENG,GK,Newcastle Utd,24.0,1997.0,4.0,12.0,2.0,...,0.0,1.0,3.0,0.0,0.0,3.0,2.0,1.0,0.0,33.3